body{
    background-color:#f8edeb;
}

/* Styling the "Keep Shopping" Button */
.keepShop{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.keepBtn{
    color:#ff006e;
    font-size: x-large;
    text-decoration: underline;
}

/* Styling the Form Part */
.paymentContainer{
    padding: 40px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
}

form{
    display:flex;
    flex-direction: column;
    border: 2px solid #ff006e;
    padding: 20px;

    /* align-self: flex-start; prevents it from stretching */
    flex-shrink: 0;

    transition: 0.8s; 
}

form *{
    margin-bottom: 10px;
}

form p{
    color:#ff006e;
    font-weight: bold;
    font-size: x-large;
    display: none;
    margin-top: 0;
}

form input[type=text]{
    width: 100%;
    height: 40px;
    border: 1px solid #f4acb7;
    background-color: #f8f4f6;
    outline:#ff006e;
    font-family: "Abel", sans-serif;
    font-size: 20px;
}

form input::placeholder{
    font-family: "Abel", sans-serif;
    font-size: large;
}

form input[type="radio"] {
    accent-color: #ff006e;
    width: 13px;
    height: 13px;
    transform: scale(1.2);
    cursor: pointer;
}

form label , h1{
    margin:0;
    font-size: large;
}

form #titleLabel , .listCart h1{
    font-size: xx-large;
    color:#ff006e;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

form .emailDiv{
    display: flex;
    flex-direction: column;
}

form .emailDiv #email{
    width: 70%;
    margin-bottom: 0;
}

form .fullName{
    display: flex;
    width: 80%;
}

form .fullName input{
    width: 60%;
    margin-right: 5px;
}

form .phoneNumber{
    display: flex;
    width:70%;
}

form .phoneNumber * {
    margin:0;
    margin-right: 10px;
}

form .phoneNumber input{
    width: 200px;
}

form .phoneNumber img{
    width: 25px;
    height: 25px;
    padding:0;
    margin-right:10px;
}

form #address{
    width: 60%;
}

form button{
    padding: 3px;
    font-size: xx-large;
    font-family: "Abel", sans-serif;
    font-weight: bold;
    border: 1px solid #ff006e;
    background-color: #ff006e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

form .cardDetails{
    display: none;
    flex-direction: column;
}

form .cardDetails .cardNumberDiv{
    display: flex;
    flex-direction: column;
}

form .cardDetails .cardNumberDiv input{
    margin-bottom: 0;
    width:70%;
}

form .cardDetails .cardDates{
    display: flex;
    width: 100%;
    justify-content: start;
}

form .cardDetails .cardDates *{
    margin-right: 20px;
    
}

form .cardDetails .cardDates input{
    margin-bottom: 0;
}

/* Styling the Shopping Cart */
.listCart{
    border:2px solid #ff006e;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.listCart h2 , span{
    font-size: xx-large;
    font-weight: normal;
}

.listCart .item{
    gap:80px;
    font-size: large;
}

/* Responsivness */
@media screen and (max-width: 768px) {
    .paymentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paymentContainer .listCart{
        width:100%;
    }

    .paymentContainer p{
        font-size: large;
    }

    form , .listCart{
        width: fit-content; 
    }

    .listCart .item{
        gap:5px;
        grid-template-columns: 25% 20% 20% 20%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px){
    .paymentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}