body{
    background-color:#f8edeb;
}

/* Styling the Form Part */
.paymentContainer{
    padding: 40px;
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
}

form{
    display:flex;
    flex-direction: column;
    border: 2px solid #ff006e;
    padding: 20px;

    align-self: flex-start; /* prevents it from stretching */
    flex-shrink: 0;

    transition: 0.8s; 
}

form *{
    margin-bottom: 10px;
}

form input[type=text], input[type=email]{
    width: 100%;
    height: 40px;
    border: 1px solid #ff006e;
    background-color: #f8f4f6;
    outline:#ff006e;
    font-family: "Abel", sans-serif;
    font-size: 20px;
}

form input[type="radio"] {
    accent-color: #ff006e;
    width: 13px;
    height: 13px;
    transform: scale(1.2);
    cursor: pointer;
}

form input::placeholder{
    font-family: "Abel", sans-serif;
    font-size: large;
}

form label , h1{
    margin:0;
    font-size: large;
}


form #titleLabel , .listCart h1{
    font-size: xx-large;
    color:#ff006e;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

form .fullName{
    display: flex;
    width: 80%;
}

form .fullName input{
    width: 60%;
    margin-right: 5px;
}

form .phoneNumber{
    display: flex;
    justify-content: center;
    width:40%;
}

form .phoneNumber img{
    width: 25px;
    height: 25px;
    padding:0;
    margin-right:10px;
}

form #address{
    width: 60%;
}

form #email{
    width: 70%;
}

form button{
    width: 20%;
    transform: translateX(200%);
    padding: 5px;
    font-size: xx-large;
    font-family: "Abel", sans-serif;
    font-weight: bold;
    border: 1px solid #ff006e;
    background-color: #ff006e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

form .cardDetails{
    /* display:flex; */
    display: none;
    flex-direction: column;
}

form .cardDetails input{
    width: 70%;
}

form .cardDetails .cardDates{
    display: flex;
    width: 80%;
}

form .cardDetails .cardDates input{
    margin-right: 5px;
}

/* Styling the Shopping Cart */
.listCart{
    border:2px solid #ff006e;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.listCart h2 , span{
    font-size: xx-large;
    font-weight: normal;
}

