/* Styling the Body */
body{
    font-family: "Abel", sans-serif;
    padding:0;
    margin:0;
    background-color: #f8edeb; 
}

/* Styling the Navbar */
nav{
    background-color:#f4acb7;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.5);
    position:sticky;
    top:0;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:#fcfaed;
}

#logo{
    font-family: "Matemasie", sans-serif;
    color:#ff006e;
    font-size: x-large;
}

#logo:hover{
    font-size: 25px;
}

.search{
    display: flex;
    align-items: center;
    background-color: #f8edeb;
    padding:10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color:black;
    font-family: "Abel", sans-serif;
}

#searchIcon{
    cursor: pointer;
}

.linkbtn{
    font-size: 20px;
    border-bottom: 2px solid gray;
}

.linkbtn{
    margin-left: 5px;
    margin-right: 5px;
}

.linkbtn:hover{
    font-size: 22px;
}

/* Styling the Footer */