/* Styling the Body */
body{
    font-family: "Abel", sans-serif;
    padding:0;
    margin:0;
    background-color: white; 
    box-sizing: border-box;
}

/* Styling the Navbar */
nav{
    background-color:#f4acb7;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.5);
    position:sticky;
    top:0;
    z-index: 10;
}

.navBar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:#fcfaed;
}

#logo{
    font-family: "Matemasie", sans-serif;
    color:#ff006e;
    font-size: x-large;
}

#logo:hover{
    font-size: 25px;
}

.search{
    display: flex;
    align-items: center;
    background-color: #f8edeb;
    padding:10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color:black;
    font-family: "Abel", sans-serif;
}

#searchIcon{
    cursor: pointer;
}

.linkbtn{
    font-size: 20px;
    border-bottom: 2px solid gray;
}

.linkbtn{
    margin-left: 5px;
    margin-right: 5px;
}

.linkbtn:hover{
    font-size: 22px;
}

/* Styling the Footer */
footer{
    display: flex;

}

.footerLeft{
    flex:2;
    display: flex;
    justify-content: space-around;
    padding:50px;
}

.fMenuTitle{
    font-size: 16px;
    color:#ff006e;
}

.fMenuList{
    padding:0;
    list-style: none;
}

.fListItem{
    margin-bottom: 10px;
    color:gray;
    cursor:pointer;
}

.fListItem:hover{
    border-bottom: 0.5px solid lightgray;
}

.footerRight{
    flex:1;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding:5px;
}

.fButton{
    padding:5px;
    background-color:#ff006e;
    border:1px solid #ff006e;
    color: white;
    font-weight: bold;
    cursor:pointer;
}

.fIcons{
    display: flex;
}

.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor:pointer;
}

.copyright{
   font-weight: 300; 
   font-size: 14px;
}

/* Responsive Part */
@media screen and (max-width:480px) {
    nav{
        padding:20px;
    }

    .search{
        display:none;
    }

    #logo{
        font-size: large;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    .footerLeft, .footerRight{
        padding: 20px;
        width:90%;
    }

    .footerRight{
        align-items: center;
    }
}

@media screen and (min-width:480px) and (max-width:610px){
    body{
        width: 100%;
    }

    #logo{
        font-size: large;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    .footerLeft, .footerRight{
        padding: 20px;
        width:90%;
    }

    .footerRight{
        align-items: center;
    }
}