.search{
    display: flex;
    align-items: center;
    background-color: #f8edeb;
    padding:10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color:black;
    font-family: "Abel", sans-serif;
}

#searchIcon{
    cursor: pointer;
} 