/* Styling the Welcome Phrase */
.welcomeDiv{
    background-color:#f8edeb ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.welcomeHeading{
    font-family: "Matemasie", sans-serif;
    color:#ff006e;
    font-size: xx-large;
    margin:5px;
}

.welcomeDesc{
    font-size: x-large;
    font-weight: bold;
    color:gray;
    /* color:#f4acb7; */
}

/* Styling the SliderImages Part */
.slide{
    width:100%; 
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 8px; */
    padding-top: 30px;
    padding-bottom: 80px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-color:#f8edeb ;
}

.slideContainer{
    position:relative;
    width:800px;
    height:400px;
    border: 3px solid #ff006e;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.slideContainer .slides{
    width:100%;
    height: calc(100% - 40px);
    position : relative;
    overflow: hidden;
}

.slideContainer .slides img{
    width:100%;
    height:100%;
    position: absolute;
    object-fit: cover;
}

.slideContainer .slides img:not(.active){
    top:0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color:#eee;
    font-size: 24px;
    font-weight: bold;
    transition:0.5s;
    border-radius: 3px;
    user-select:none;
    cursor:pointer;
    z-index: 1;
}

span.next{
    right:20px;
}

span.prev{
    left: 20px;
}

span.next:hover , span.prev:hover{
    background-color: #f8edeb;
    opacity: 0.8;
    color:#ff006e;
}

.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #ff006e;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
}

.dotsContainer .active{
    background-color: #f4acb7;
}

@keyframes next1{
    from{
        left:0%;
    }
    to{
        left: -100%;
    }
}

@keyframes next2{
    from{
        left:100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left:0%;
    }
    to{
        left: 100%;
    }
}

@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

/* Features Styling */
.features{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:50px;
}

.feature{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width:60px;
    height:60px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color:#ff006e;
}

.featureDescription{
    color:#f4acb7;
    width:50%;
    height:100px;
}