/* Styling the Container in which the template and the changing content is in */
.container{
    width:100%;
    margin:auto;
    text-align: center;
    transition:0.5s; /* The "transition" prepares the element for animation if something else changes it */
}

/* Styling the Shopping Cart Tab*/
.cartTab{ 
    background-color: #f8edeb;
    width:400px;
    max-width:100%;
    border: 0.5px solid #ff006e;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);

    position: fixed;
    top:0;
    right:0;
    bottom:0;

    display:grid;
    grid-template-rows: 70px 1fr 70px; /* 1fr: Take up all remaining space after fixed rows are sized */

    right: -400px; /* Hide it off screen given that its width = 400px */
    transition:0.5s;
}

.cartTab #shopTitle{
    padding:20px;
    text-align: center;
    margin:0;
    font-weight: 300;
    font-family: "Matemasie", sans-serif;
    color:#ff006e;
    font-size: x-large;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr); /* = 1fr 1fr */  
}

.cartTab .btn button{
    background-color: #f4acb7; 
    color:#ff006e;
    border: 0.1px solid #ff006e;
    border-radius: 5px;
    font-size: large;
    font-weight: 200;
    cursor: pointer;
}

.cartTab .listCart{
    overflow:auto; /* for a scroll bar if necessary */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartTab #shopBag{
    width: 300px;
    height: 300px;
}

.cartTab .listCart #empty{
    color:gray;
    font-family: "Abel", sans-serif;
    font-weight: 100;
    font-size: large;
}

/* CSS rules used for customizing scrollbars and toggling a sliding cart panel.  */

.cartTab .listCart::-webkit-scrollbar{     
    width:0;
}
/*
    Meaning: 
    -> Targets the scrollbar inside .listCart (which is probably a scrollable list of cart items inside .cartTab).
    -> ::-webkit-scrollbar is a pseudo-element for customizing scrollbars in WebKit-based browsers (like Chrome, Safari, Edge).
    -> width: 0; means: Hide the scrollbar completely (but keep scroll functionality via mouse wheel, touchpad, or dragging).
*/

body.activeTabCart .cartTab{
    right:0; /* When the <body> has the class activeTabCart, this moves .cartTab to the visible position at the right edge of the screen. */
}

body.activeTabCart .container{
    transform: translateX(-0px); /* It moves the .container slightly using transform (but does nothing because 0px)*/
}
