/* Styling the Container in which the template and the changing content is in */
.container{
    width:100%;
    margin:auto;
    text-align: center;
    transition:0.5s; /* The "transition" prepares the element for animation if something else changes it */
}

/* Styling the Shopping Cart Tab */
.cartTab{ 
    background-color: #f8edeb;
    width:400px;
    max-width:100%;
    border: 0.5px solid #ff006e;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);

    position: fixed;
    top:0;
    right:0;
    bottom:0;

    display:grid;
    grid-template-rows: 60px 1fr 60px 40px; /* 1fr: Take up all remaining space after fixed rows are sized */

    right: -400px; /* Hide it off screen given that its width = 400px */
    transition:0.5s;
}

.cartTab #shopTitle{
    padding:20px;
    text-align: center;
    margin:0;
    font-weight: 300;
    font-family: "Matemasie", sans-serif;
    color:#ff006e;
    font-size: x-large;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr); /* = 1fr 1fr */  
}

.cartTab .btn button{
    background-color: #f4acb7; 
    color:#ff006e;
    border: 0.1px solid #ff006e;
    border-radius: 5px;
    font-size: large;
    font-weight: 200;
    cursor: pointer;
}

.cartTab .totalPrice{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.cartTab .totalPrice h2{
    color:#ff006e;
    font-size: x-large;
    font-weight: 200;
}

.cartTab .totalPrice .totalMoney{
    color: black;
}

/* Styling the Shopping Cart if it is not empty */
.cartTab .listCart{
    overflow:auto; /* for a scroll bar if necessary */
    display:flex;
    flex-direction: column;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 130px 50px 75px 10px; 
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
    border:1px solid #ff006e;
    margin-bottom: 5px;
}

.listCart .item img{
    width:100%;
}

.listCart .item .quantity{
    display: flex;
}

.listCart .item .quantity span{
    width:25px;
    height:25px;
    background-color: #f4acb7;
    border-radius: 50%;
    color: #ff006e;
    font-weight: bold;
    cursor:pointer;
}

.listCart .item .quantity span:nth-child(2){ /* Targeting the Second Span where the quantity number is */
    font-weight: normal;
    background-color: transparent;
    cursor:auto;
}

.listCart .item:nth-child(even){ /* Items in even Positions */
    background-color: rgb(254, 225, 230);
}

.listCart .item .delBtn {
    color:#ff006e;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease;

    grid-column: 5;    /* place in 5th column */
    justify-self: end; /* align to right */
    align-self: start; /* align to top */
}

.listCart .item .delBtn:hover {
    transform: scale(1.3);
}

/* Styling the Shopping Cart Slide if it is Empty */
.cartTab .empty{ 
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
}

.cartTab .empty img{ /* The Empty Shop Bag Icon */
    width: 280px;
    height: 280px;
}

.cartTab .empty h1{ 
    color:black;
    font-family: "Abel", sans-serif;
    font-weight: 100;
    font-size: large; 
}


/* CSS rules used for customizing scrollbars and toggling a sliding cart panel.  */
.cartTab .listCart::-webkit-scrollbar{     
    width:0;
}
/*
    Meaning: 
    -> Targets the scrollbar inside .listCart (which is probably a scrollable list of cart items inside .cartTab).
    -> ::-webkit-scrollbar is a pseudo-element for customizing scrollbars in WebKit-based browsers (like Chrome, Safari, Edge).
    -> width: 0; means: Hide the scrollbar completely (but keep scroll functionality via mouse wheel, touchpad, or dragging).
*/

body.activeTabCart .cartTab{
    right:0; /* When the <body> has the class activeTabCart, this moves .cartTab to the visible position at the right edge of the screen. */
}

body.activeTabCart .container{
    transform: translateX(-0px); /* It moves the .container slightly using transform (but does nothing because 0px)*/
}


@media screen and (max-width: 480px){
    .cartTab{ 
        grid-template-rows: 60px 1fr 60px 10px;
        max-height: 98%;
    }

    .listCart .item .delBtn {
        grid-column: 5;    /* place in 5th column */
        justify-self: end; /* align to right */
        align-self: start; /* align to top */
        margin-right: 15px;
    }
}